@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(221, 248, 239);
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}
